{% extends 'main/base.html' %}
{% block title %}
    Adding picture
{% endblock %}



{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="id_title">Tytuł:</label>
    <input type="text" name="title" id="id_title">
    <label for="id_image">Zdjęcie:</label>
    <input type="file" name="image" id="id_image">
    <input type="submit" value="Dodaj zdjęcie">
</form>
{% for photo in photos %}
    <img src="{{ photo.image.url }}" alt="{{ photo.title }}">
{% endfor %}
{% endblock %}